
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Ficha Empresa</title>
        <link rel="stylesheet" type="text/css" media="screen" href="css/estilos.css" />
    </head>
    <body onload="inicializa()">

        <h2>Ficha Empresa</h2>
        <ul class="fichaEmpresa">
            <!--<th style="display:none">Id</th>
                            <th >C.I.F.</th>
                            <th>Nombre</th>
                            <th>Direccion</th>
                            <th>Provincia</th>
                            <th>Población</th>
                            <th>C.P</th>
                            <th>Tlf</th>
                            <th >Comercial</th>
                            <th >Fecha Alta</th>
                            <th >Contacto</th>
                            <th >Operaciones</th>-->
            <li id="0"><strong>C.I.F.: </strong> </li>
            <li id="1"><strong>Nombre: </strong> </li>
            <li id="2"><strong>Dirección: </strong> </li>
            <li id="3"><strong>Provincia: </strong> </li>
            <li id="4"><strong>Población: </strong> </li>
            <li id="5"><strong>Cod.Postal: </strong> </li>
            <li id="6"><strong>Telefono: </strong> </li>
            <li id="7"><strong>Comercial: </strong> </li>
            <li id="8"><strong>Fecha Alta: </strong> </li>
            <li id="9"><strong>Contacto: </strong> </li>


        </ul>


        <script>

            function inicializa()
            {
                var datos = window.location.href.split("?")[1];
                if (typeof (datos) !==undefined)
                {
                    var celda = datos.split(",");
                    var element;
                    
                    for (var i = 0; i < celda.length; i++)
                    {
                        element = document.createTextNode(String(celda[i]).replace('%',' '));
                        document.getElementById(i).appendChild(element);
                    }
                } 
                else
                {
                    alert("sin datos");
                }
            }
            /*
             *  <% if (emp != null) {%>
             *  <% } else { %> 
             <h2>Empresa no existente.</h2> 
             <% }%>
             * 
             * <ul class="fichaEmpresa">
             <li><strong>C.I.F.: </strong> <%=emp.getCif()%></li>
             <li><strong>Nombre: </strong> <%=emp.getNombre()%></li>
             <li><strong>Dirección </strong> <%=emp.getDireccion()%></li>
             <li><strong>Provincia: </strong> <%=emp.getProvincia()%></li>
             <li><strong>Población: </strong> <%=emp.getPoblacion()%></li>
             <li><strong>Cod.Postal: </strong> <%=emp.getCp()%></li>
             <li><strong>Telefono: </strong> <%=emp.getTlf()%></li>
             <li><strong>Contacto: </strong> <%=emp.getContacto()%></li>
             <li><strong>Alta: </strong> <%
             SimpleDateFormat formato = new SimpleDateFormat("dd/MM/yyyy");
             out.print(formato.format(emp.getFechaAlta().getTime()));
             %></li>
             <li><strong>Comercial: </strong> <%=n_comercial%></li>
             </ul>
             <% } else { %> 
             <h2>Empresa no existente.</h2> 
             <% }%>
             * 
             int idEmpresa = -1;
             Empresas emp = null;
             try 
             {
             idEmpresa = Integer.parseInt(request.getParameter("idEmpresa"));
             } 
             catch (Exception e) 
             {
             out.print(e);
             }
             emp = Op_Empresas.find(idEmpresa);
             
             String n_comercial="-1";
             try
             {
             n_comercial = Op_Usuarios.find(emp.getComercial()).getNombre();
             }
             catch (Exception e)
             {}*/
        </script>

    </body>
</html>
